pandas
numpy
tensorflow==1.15
tensorflow_datasets
jupyter
scipy
sklearn
ampligraph
ipython
certifi
chardet
cycler
fire
idna
matplotlib
py
pyparsing
pytest
python-dateutil
pytz
PyYAML
requests
six
torchtext
tqdm
urllib3
torch